.editor {
  margin-top: 50px;
}
.latestnews {
  margin-top: 10px;
}
.editors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .editor-card {
    position: relative;
    overflow: hidden;
  }

  .editor-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    color: white;
    display: flex;
    gap: 12px;
    padding: 5px 10px;
  }
  .podcast{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .podcast-second-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    span{
      font-size: 10px;
      display: inline-block;
    }
  }
  .position{
      top: 60px;
      left: 10px;
  }
  .positionbottom{
    bottom: 20px;
    padding: 10px;
    color: white;
  }
  .positionnews{
    bottom: 100px;
    padding-left: 20px;
    color: white;
  }
@media (min-width: 600px) {
  .latestnews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
    .podcast-second-col{
    span{
      font-size: 14px;
      display: inline-block;
    }
  }
    .position{
      top: 80px;
      left: 10px;
  }
}
@media (min-width: 768px) {
      .podcast-second-col{
    span{
      font-size: 16px;
      display: inline-block;
    }
  }
    .position{
      top: 120px;
      left: 10px;
  }
}
@media (min-width: 992px) {
    .position{
      left: 40px;
  }
  .editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .latestnews {
    grid-template-columns: 1fr 1fr 2fr;
  }

 .podcast {
    grid-template-columns: 2fr 1fr;
  }
  .podcast-second-col{
    display: flex;
    flex-direction: column;
    div{
      height: 100%;
    }
    
  }

}

